/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'VARIANTBAM' {
        ext.args   = { "-m ${params.cap_coverage} -b" }
        ext.prefix = { params.split_fastq > 1 ? bam.name.replaceFirst(/\.bam$/, '.cap') : "${meta.id}.cap" }
        memory = 24.GB
        time = 24.h
    }

    withName: 'FILTER_BAM' {
        // Sort + clear pairing flags on orphans left by coverage capping + re-index
        ext.prefix = { params.split_fastq > 1 ? bam.name.replaceFirst(/\.bam$/, '.filtered') : "${meta.id}.filtered" }
        memory = 24.GB
        time = 24.h
    }

}
